/* ============= GENERAL ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  letter-spacing: 1.2px;
}

body {
  font-family: Calibri, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  line-height: 1.5;
}

.page-content {
  display: grid;
  grid-template-columns: 250px 1fr;  /* Sidebar: 250px + contenu principal: le reste */
  padding: 30px;
  gap: 20px;                /* espace uniforme entre les éléments enfants*/
}


/* ==================================== */
/* ====         NAVBAR             ==== */
/* ==================================== */
.sidebar {
    background-color: #3d3d3d;
    color: #ffffff;
    padding: 20px;
    font-size: 16px;
}
      /* Portfolio */
.sidebar h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}
      /* listes des liens */
.sidebar ul {
    padding: 0;
    list-style: none;   /* supprime les marqueurs visuels (puces ou numéros) des listes HTML */
}
      /* liens */ 
.sidebar a {
  color: white;
  display: block;       /* transforme chaque lien en rectangle qui prend toute la largeur disponible */
  padding: 10px 0;
}
.sidebar a.active,
.sidebar a:hover {
  color: #f7b6b2;
  font-weight: bold;
}

/* ==================================== */
/* ====           CV               ==== */
/* ==================================== */
.cv-container {
  position: relative;
  width: auto;
  height: 100%;
  background: #ffffff;
  font-size: 20px;
}
      /* Header marron */
hgroup {
  background: #7a5a55;
  color: #fff;
  padding: 25px 30px 20px 25px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  min-height: 240px;
}
      /* Titre de la page : Muriel Bullot */
hgroup h1 {
  margin-left: 320px;
  font-size: 3em;
  margin-bottom: 5px;
  color: #f7b6b2;
}
      /* Conceptrice Développeuse d'Applications */
hgroup p {
  margin-left: 320px;
  padding-bottom: 20px;
  font-size: 1.7em;
  font-weight: normal;
  opacity: 0.9;
}
      /* Ligne de séparation */
hr {
  margin-left: 320px;
  border: none;          
  height: 3px;           
  background-color: #ffffff;
}
/* ============== PHOTO =============== */
      /* Encadrement de la photo avec 2 couleurs */ 
.logo-container {
  position: absolute;
  top: 30px;
  left: 80px;
  width: 180px;
  height: 180px;
  border: 3px solid #f7b6b2;
  box-shadow: 0 0 4px #f15048;
  display: flex;
}

.logo {
  /* Obligation d'indiquer la taille si on veut que object-fit fonctionne dans img{} */
  width: 100%;
  height: 100%;

}
      /* Photo avec une bordure blanche */
.logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;     /* pour que l'image remplisse tout l'élément parent, ce dernier doit avoir une taille définie
                           et l'img aussi*/
  border: 3px solid white;
}
/* ============== COLONNE GAUCHE =============== */
aside {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  font-size: 0.8em;
  top: 120px;
  left: 20px;
  width: 300px;
  background: #f7b6b2;
  padding: 1em;
  padding-top: 100px;
  line-height: 1;
}
      /* Contact, Compétences Tchniques et Personnelles, Langues, Loisirs */
aside h3 {
  font-size: 1.6em;
  letter-spacing: 4px;
  margin-top: 10px;
  color: white;
}
      /* suppression des marqueurs visuels (puces ou numéros) des listes HTML */ 
aside ul {
  list-style: none;
}
      /* Espacement entre chaque retour de ligne volontaire */ 
aside p,
.skills li {
  margin-bottom: 6px;
}
      /* RQTH */
aside strong {
  font-weight: 600;
}
      /* Développement Front-End, Back-End, Compétences transversales */
.skills h4 {
  font-size: 1.2em;
  margin-top: 12px;
  margin-bottom: 2px;
}
      /* Soulignement en pointillé */
.skills strong {
  font-weight: normal;
  text-decoration: underline dotted gray;   /* soulignement en pointillé */
  text-underline-offset: 3px;                 /* espacement entre le texte et le soulignage */
}
/* ============== COLONNE DROITE =============== */
main {
  margin-left: 340px;
  margin-right: 20px;
  margin-top: 30px;
  text-align: justify;
}
      /* Texte descriptif, textes sous les h3 */
.description, .subject {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.1;
}
      /* Expériences professionelles, Formations */
main h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  background: #f7b6b2;
  padding-left: 20px;
  font-size: 1.3em;
  letter-spacing: 4px;
}
      /* Dates */
.greyTitle {
  margin-top: 10px;
  font-weight: bold;
  color: #f7b6b2;
  text-shadow: 1px 1px 2px #f15048;
}
      /* Textes sur la même ligne que les dates */
.greyTitle span {
  font-weight: normal;
  color: #000000;
  text-shadow: none;
}
      /* Décalage des puces vers la droite  */
.experience li {
    margin: 0 0 10px 40px;
}
      /* Montbonnot Saint-Martin (38) */
small {
  font-size: 0.8em;
  color: #666;
}
/* ============= LIENS ================= */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* --- Gestion de la photo de profil selon la taille d'écran --- */

/* Par défaut : on cache la photo mobile, on montre la photo desktop */
.logo-mobile {
    display: none;
}

.logo-desktop {
    display: block;
}

/* Sur mobile (largeur max 768px) : on inverse */
@media (max-width: 768px) {

    .logo-mobile {
        display: flex;              /* visible sur mobile */
        justify-content: flex-end;  /* alignée à droite dans la navbar */
    }

    .logo-desktop {
        display: none;              /* cachée sur mobile */
    }
}